body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100vw;
  border: 5px solid maroon;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 960px;
}

.boxes {
  border-radius: 12%;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid maroon;
}

.button-container {
  margin-bottom: 16px;
}
